
@media screen and (max-width: 1170px) {
    
    .resultsA {
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .resultsB {
        margin-left: 0px;
    }
    .countryName p {
        border: black 2px solid;
    }

}

@media screen and (max-width: 750px) {
    .selectCountries {
        width: 100%;
        min-width: 320px;
        select,
        input[type="submit"] {
            width: 85%;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .flagA img,
    .flagB img {
        height: clamp(170px, 90%, 277px);
        width: 100%;
    }
    .resultsA .countryName p {
        padding: 5px;
    }
}



@media screen and (max-width: 350px) {
    .wrapper {
        width: 100%; 
     }
}
