@media screen and (max-width: 1333px) {
    .wrapper {
        width: 99%;
    }
}
@media screen and (max-width: 1115px) {
    .results {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .resultsA {
        width: 460px;
        margin-right: 0px;
        .indicatorData{
            padding: 4% 0;
        }
    }
    .resultsB {
        width: 460px;
        margin-left: 0px;
        .indicatorData{
            padding: 4% 0;
        }
    }
    .flagA,
    .flagB {    
    height: 268px;
    
    }     
};
    
@media screen and (max-width: 750px) {
    .selectCountries {
        width: 100%;
        min-width: 320px;
        select,
        input[type="submit"] {
            width: 85%;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        width: 100%; 
     }
     h1 {
         font-size: 50px;
     }
    .resultsA,
    .resultsB {
        width: 310px;
    }
    .flagA,
    .flagB {    
    height: 184px;
    
    }  
    
}



@media screen and (max-width: 350px) {
  
}
