
.results {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
 }
.resultsA {
    display: inline-block;
    background-color: transparent;
    text-align: center;
    width: 40% ;
    margin-right: 10px;

    .countryName {
        background-color: white;
        font-size: 1.5rem;
        font-weight:600;
        text-align: center;
        p {
            border: black 2px solid;
            padding: 10px;
        }
    }
}
.resultsB {
    display: inline-block;
    background-color: transparent;
    text-align: center;
    width: 40%;
    margin-left: 10px;
    .countryName {
        background-color: white;
        font-size: 1.5rem;
        font-weight:600;
        text-align: center;
        p {
            border: black 2px solid;
            padding: 10px;
        }
    }
}

.flagA,
.flagB {
    height: clamp(140px, 100%, 30%);
    margin-bottom: 4%;
    img {
        height: 100%;
        width: 100%;
    }
}

.resultsA .indicatorData{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    padding: 4%;
    li:nth-child(odd) {
        padding: 5px 3px;
        border: black solid 2px;
        border-radius: 20px;
        background-color: white;
    }
    li:nth-child(even) {
        line-height: 1.35rem;
        font-size: 1.15rem;
        font-weight: 400;
        border-radius: 50%;
        text-align: center;
        margin: 1% 30%;
        padding: 13px 0 8px 0;;
    }
}

.resultsB .indicatorData{
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    padding: 4%;
    li:nth-child(odd) {
        padding: 5px 3px;
        border: black solid 2px;
        border-radius: 20px;
        background-color: white;
    }
    li:nth-child(even) {
        line-height: 1.35rem;
        font-size: 1.15rem;
        font-weight: 400;
        border-radius: 50%;
        text-align: center;
        margin: 1% 30%;
        padding: 13px 0 8px 0;;
    }
}


