
.results {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    }
    .resultsA {
        display: inline-block;
        background-color: white;
        border-radius: 20px 0 0 20px;
        text-align: center;
        min-width: 50%;
        .countryName {
            font-size: 1.5rem;
            font-weight:600;
            text-align: center;
        }
    }
    .resultsB {
        display: inline-block;
        background-color:white;
        border-radius: 0 20px 20px 0 ;
        text-align: center;
        min-width: 50%;
        .countryName {
            font-size: 1.5rem;
            font-weight:600;
            text-align: center;
            
        }
    }

.flag1 img,
.flag2 img {
    height: clamp(200px, 230px, 260px);
    width: clamp(290px, 320px, 350px);
}

.resultsA .indicatorData{
    font-size: 0.75rem;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
    ul {
        z-index: 100;
    }
    li:nth-child(even) {
        font-size: 1.15rem;
        font-weight: 600;
        text-align: right;
        padding-right: 10px;
    }
}

.resultsB .indicatorData{
    font-size: 0.75rem;
    font-weight: 400;
    text-align: right;
    padding-right: 10px;
    li:nth-child(even) {
        font-size: 1.15rem;
        font-weight: 600;
        text-align: left;
        padding-left: 10px;
    }
}

// media queries... 

@media screen and (max-width: 883px) {
    .resultsA,
    .resultsB {
        border-radius: 20px;
    }
  }